<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ site.head }}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="sidebar">
    {% include nav_footer_custom.html %}
  </div>

  <main class="main-content">
    {{ content }}
    
    {% if page.comments %}
      <!-- Giscus Comment Box -->
      <div id="comments" style="margin-top: 2rem;">
        <script src="https://giscus.app/client.js"
                data-repo="jassecurity/Google-Cybersecurity-Cert"
                data-repo-id="R_kgDOPPKgvg"
                data-category="Blog comments"
                data-category-id="DIC_kwDOPPKgvs4CtUTQ"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="preferred_color_scheme"
                data-lang="en"
                crossorigin="anonymous"
                async>
        </script>
      </div>
    {% endif %}
  </main>
</body>
</html>
